<!DOCTYPE html>
<html>
<head>
    <title>Payslip Generator</title>
    <style>
        /* Add this to include padding and border in total width and height */
        * {
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            align-items: stretch; /* Change from center to stretch */
            width: 100%;
            height: 100%;
        }

        .form-container {
            margin-right: 20px;
        }

        .html-container {
            background-color: #f0f0f0;
            padding: 20px;
            flex-grow: 1;
            width: 100%;
            height: 100%;
        }

        .iframe-container {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
<h1><a href="{{ url_for('home') }}" style="text-decoration: none; color: inherit;">Payslip Generator</a></h1>
<div class="container">
    <div class="form-container">
        <form method="POST" id="generate_form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.employee.label }}<br>
                {{ form.employee() }}
            </p>
            <p>
                {{ form.allowance_pay.label }}<br>
                {{ form.allowance_pay() }}
            </p>
             <p>
                {{ form.overtime_pay.label }}<br>
                {{ form.overtime_pay() }}
            </p>
            <p>
                {{ form.start_month_year.label }}<br>
                {{ form.start_month_year() }}
            </p>
            <p>{{ form.submit(id='generate_button') }}</p>
        </form>
        <form action="{{ url_for('download_payslip') }}" method="get" id="download_form" target="_blank" style="display: none;">
            <input type="submit" id="download_button" value="Download Payslip" class="btn btn-primary">
        </form>
        <!-- Display flash messages if they exist -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
        {% endif %}
        {% endwith %}
    </div>
    <div class="html-container">
        <iframe src="" class="iframe-container"></iframe>
    </div>
</div>
</body>
<script>
    // Default values
    document.querySelector('input[name="overtime_pay"]').defaultValue = 0;
    document.querySelector('input[name="allowance_pay"]').defaultValue = 0;

    // Get current date
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;

    // Set the default date
    document.querySelector('input[name="start_month_year"]').value = today;

    document.getElementById('generate_button').addEventListener('click', function() {
        document.getElementById('download_form').style.display = 'block';
    });

    document.querySelector('form').addEventListener('submit', function(e) {
        // Prevent the default form submission action
        e.preventDefault();

        // Get form data
        var employee_id = document.querySelector('select[name="employee"]').value;
        var start_month = document.querySelector('input[name="start_month_year"]').value;
        var overtime_pay = document.querySelector('input[name="overtime_pay"]').value;
        var allowance_pay = document.querySelector('input[name="allowance_pay"]').value;

        // Send a POST request with the form data
        fetch('/preview_payslip', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                employee_id: employee_id,
                start_month: start_month,
                overtime_pay: overtime_pay,
                allowance_pay: allowance_pay
            })
        })
        .then(response => response.text())
        .then(data => {
            // Update iframe src
            var iframe = document.querySelector('.iframe-container');
            iframe.src = "/temp_payslip";
        });
    });

    document.getElementById('download_button').addEventListener('click', function(e) {
        // Prevent the default form submission action
        e.preventDefault();

        // Get form data
        var employee_id = document.querySelector('select[name="employee"]').value;
        var start_month = document.querySelector('input[name="start_month_year"]').value;

        // Send a POST request to your Flask route
        fetch('/download_payslip', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                employee_id: employee_id,
                start_month: start_month
            })
        }) // Move the .then block outside the fetch function's argument object
        .then(response => {
            // Check if the response is a PDF
            if (response.headers.get('Content-Type') === 'application/pdf') {
                // Get the filename from the Content-Disposition header
                const filename = response.headers.get('Content-Disposition').split('filename=')[1];

                // Create a new Blob object from the response data
                response.blob().then(blob => {
                    // Create a new object URL for the blob
                    const url = window.URL.createObjectURL(blob);

                    // Create a new anchor element
                    const a = document.createElement('a');

                    // Set the href of the anchor element to the object URL
                    a.href = url;

                    // Set the download attribute of the anchor element to the filename
                    a.download = filename;

                    // Append the anchor element to the body
                    document.body.appendChild(a);

                    // Simulate a click on the anchor element
                    a.click();

                    // Remove the anchor element from the body
                    document.body.removeChild(a);
                });
            } else {
                // Handle non-PDF responses here
                console.error('Error: Non-PDF response');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
</html>
